<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="test_wheel" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="laser_visual" default="false"/>
  <xacro:arg name="imu_visual"   default="false"/>

  <link name="base_footprint"/>

  <joint name="base_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.17 0.0 0.010" rpy="0 0 0"/>
  </joint>


  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.281319738122083 -0.0199999536533712 -0.106159055842674"
        rpy="0 0 0" />
      <mass
        value="12.7192621971354" />
      <inertia
        ixx="0.260102799764317"
        ixy="-0.000909028802490265"
        ixz="-0.0119468599271296"
        iyy="0.57529521161862"
        iyz="0.00212150730981038"
        izz="0.710489639266212" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_front_link">
    <inertial>
      <origin
        xyz="1.5691E-13 -0.022189 1.9851E-13"
        rpy="0 0 0" />
      <mass
        value="0.66982" />
      <inertia
        ixx="0.0011856"
        ixy="-1.9675E-17"
        ixz="5.9152E-18"
        iyy="0.0020612"
        iyz="-2.5304E-17"
        izz="0.0011856" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/left_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/left_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_front_joint"
    type="continuous">
    <origin
      xyz="-0.043 0.275 -0.146000000000004"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_front_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="right_front_link">
    <inertial>
      <origin
        xyz="-0.010998 0.028811 0.0012827"
        rpy="0 0 0" />
      <mass
        value="0.66982" />
      <inertia
        ixx="0.0011856"
        ixy="-2.6967E-17"
        ixz="5.651E-18"
        iyy="0.0020612"
        iyz="-1.6955E-17"
        izz="0.0011856" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/right_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/right_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_front_joint"
    type="continuous">
    <origin
      xyz="-0.0320015790095129 -0.277 -0.147282702389286"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_front_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="left_rare_link">
    <inertial>
      <origin
        xyz="2.0828E-13 -0.022189 1.4727E-13"
        rpy="0 0 0" />
      <mass
        value="0.66982" />
      <inertia
        ixx="0.0011856"
        ixy="-2.6335E-17"
        ixz="5.7661E-18"
        iyy="0.0020612"
        iyz="-1.8175E-17"
        izz="0.0011856" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/left_rare_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/left_rare_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_rare_joint"
    type="continuous">
    <origin
      xyz="-0.553 0.275 -0.146000000000004"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_rare_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="right_rare_link">
    <inertial>
      <origin
        xyz="2.0817E-13 0.021811 1.4733E-13"
        rpy="0 0 0" />
      <mass
        value="0.66982" />
      <inertia
        ixx="0.0011856"
        ixy="-2.6202E-17"
        ixz="5.4236E-18"
        iyy="0.0020612"
        iyz="-1.8216E-17"
        izz="0.0011856" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/right_rare_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/right_rare_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_rare_joint"
    type="continuous">
    <origin
      xyz="-0.553 -0.27 -0.146000000000004"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_rare_link" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="left_belt_link">
    <!--inertial>
      <origin
        xyz="-0.29873 0.253 -0.14525"
        rpy="0 0 0" />
      <mass
        value="1.4403" />
      <inertia
        ixx="0.0092555"
        ixy="-1.3285E-18"
        ixz="-1.1101E-05"
        iyy="0.077875"
        iyz="4.6759E-20"
        izz="0.069084" />
    </inertial-->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/left_belt_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!--collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/left_belt_link.STL" />
      </geometry>
    </collision-->
  </link>
  <joint
    name="left_belt_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_belt_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="right_belt_link">
    <!--inertial>
      <origin
        xyz="-0.29873 -0.248 -0.14525"
        rpy="0 0 0" />
      <mass
        value="1.4403" />
      <inertia
        ixx="0.0092555"
        ixy="-2.5044E-19"
        ixz="-1.1101E-05"
        iyy="0.077875"
        iyz="1.9506E-21"
        izz="0.069084" />
    </inertial-->
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/right_belt_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <!--collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://test_crawler/meshes/right_belt_link.STL" />
      </geometry>
    </collision-->
  </link>
  <joint
    name="right_belt_joint"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_belt_link" />
    <axis
      xyz="0 0 0" />
  </joint>


    <link name="kinect_link">
        <visual>
            <origin xyz="-0.18 0 -0.08" rpy="0 0 1.5708"/>
            <geometry>
                <mesh filename="package://mbot_description/meshes/kinect.dae" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="0.07 0.3 0.09"/>
            </geometry>
        </collision>
    </link>

    <joint name="kinect_joint" type="fixed">
        <origin xyz="0.15 0 0.11" rpy="0 0 0"/>
        <parent link="base_link"/>
        <child link="kinect_link"/>
    </joint>

    <joint name="kinect_optical_joint" type="fixed">
        <origin xyz="-0.18 0 -0.08" rpy="-1.5708 0 -1.5708"/>
        <parent link="kinect_link"/>
        <child link="kinect_frame_optical"/>
    </joint>

    <link name="kinect_frame_optical"/>




<joint name="scan_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_scan"/>
    <origin xyz="-0.282 0 0.402" rpy="0 0 0"/>
  </joint>

  <link name="base_scan">
    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://multi_turtlebots_sim/turtlebot3_description/meshes/sensors/lds.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="dark"/>
    </visual>

    <collision>
      <origin xyz="0.015 0 -0.0065" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0315" radius="0.055"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="0.114" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0"
               izz="0.001" />
    </inertial>
  </link>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="-0.032 0 0.068" rpy="0 0 0"/>
  </joint>

  <link name="imu_link"/>


  <transmission name="right_front_joint_transmssion">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_front_joint">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_front_joint_motor">
      <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="right_rear_joint_transmssion">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_rear_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_rear_joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_front_joint_transmssion">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_front_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_front_joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  <transmission name="left_rear_joint_transmssion">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_rear_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_rear_joint_motor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

    <gazebo>
        <plugin name="differential_drive_controller" 
                filename="libgazebo_ros_diff_drive.so">
            <rosDebugLevel>Debug</rosDebugLevel>
            <publishWheelTF>false</publishWheelTF>
            <publishTf>1</publishTf>
            <publishWheelJointState>true</publishWheelJointState>
            <alwaysOn>true</alwaysOn>
            <updateRate>100.0</updateRate>
            <legacyMode>true</legacyMode>
            <leftJoint>left_front_joint</leftJoint>
            <rightJoint>right_front_joint</rightJoint>
            <wheelSeparation>0.51</wheelSeparation>
            <wheelDiameter>0.15</wheelDiameter>
            <broadcastTF>1</broadcastTF>
            <wheelTorque>30</wheelTorque>
            <wheelAcceleration>1.8</wheelAcceleration>
            <commandTopic>cmd_vel</commandTopic>
            <odometryFrame>odom</odometryFrame> 
            <odometryTopic>odom</odometryTopic> 
            <robotBaseFrame>base_footprint</robotBaseFrame>
        </plugin>
    </gazebo> 

    <gazebo>
        <plugin name="differential_drive_controller" 
                filename="libgazebo_ros_diff_drive.so">
            <rosDebugLevel>Debug</rosDebugLevel>
            <publishWheelTF>false</publishWheelTF>
            <publishTf>1</publishTf>
            <publishWheelJointState>true</publishWheelJointState>
            <alwaysOn>true</alwaysOn>
            <updateRate>100.0</updateRate>
            <legacyMode>true</legacyMode>
            <leftJoint>left_rare_joint</leftJoint>
            <rightJoint>right_rare_joint</rightJoint>
            <wheelSeparation>0.51</wheelSeparation>
            <wheelDiameter>0.15</wheelDiameter>
            <broadcastTF>1</broadcastTF>
            <wheelTorque>30</wheelTorque>
            <wheelAcceleration>1.8</wheelAcceleration>
            <commandTopic>cmd_vel</commandTopic>
            <odometryFrame>odom</odometryFrame> 
            <odometryTopic>odom</odometryTopic> 
            <robotBaseFrame>base_footprint</robotBaseFrame>
        </plugin>
    </gazebo> 


    <gazebo reference="kinect_link">
        <sensor type="depth" name="kinect">
            <always_on>true</always_on>
            <update_rate>20.0</update_rate>
            <camera>
                <horizontal_fov>1.046</horizontal_fov>
                <image>
                    <format>R8G8B8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="kinect_controller" filename="libgazebo_ros_openni_kinect.so">
                <cameraName>kinect</cameraName>
                <alwaysOn>true</alwaysOn>
                <updateRate>10</updateRate>
                <imageTopicName>rgb/image_raw</imageTopicName>
                <depthImageTopicName>depth/image_raw</depthImageTopicName>
                <pointCloudTopicName>depth/points</pointCloudTopicName>
                <cameraInfoTopicName>rgb/camera_info</cameraInfoTopicName>
                <depthImageCameraInfoTopicName>depth/camera_info</depthImageCameraInfoTopicName>
                <frameName>kinect_frame_optical</frameName>
                <baseline>0.1</baseline>
                <distortion_k1>0.0</distortion_k1>
                <distortion_k2>0.0</distortion_k2>
                <distortion_k3>0.0</distortion_k3>
                <distortion_t1>0.0</distortion_t1>
                <distortion_t2>0.0</distortion_t2>
                <pointCloudCutoff>0.4</pointCloudCutoff>
            </plugin>
        </sensor>
    </gazebo>


 <gazebo reference="base_scan">
    <material>Gazebo/FlatBlack</material>
    <sensor type="ray" name="lds_lfcd_sensor">
      <pose>0 0 0 0 0 0</pose>
      <visualize>$(arg laser_visual)</visualize>
      <update_rate>5</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <resolution>1</resolution>
            <min_angle>0.0</min_angle>
            <max_angle>6.28319</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.120</min>
          <max>8.5</max>
          <resolution>0.015</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_lds_lfcd_controller" filename="libgazebo_ros_laser.so">
        <topicName>scan</topicName>
        <frameName>base_scan</frameName>
      </plugin>
    </sensor>
  </gazebo>



  <gazebo reference="imu_link">
    <sensor type="imu" name="imu">
      <always_on>true</always_on>
      <visualize>$(arg imu_visual)</visualize>
    </sensor>
    <material>Gazebo/FlatBlack</material>
  </gazebo>  
  <gazebo>
    <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
      <alwaysOn>true</alwaysOn>
      <bodyName>imu_link</bodyName>
      <frameName>imu_link</frameName>
      <topicName>imu</topicName>
      <serviceName>imu_service</serviceName>
      <gaussianNoise>0.0</gaussianNoise>
      <updateRate>200</updateRate>
      <imu>
        <noise>
          <type>gaussian</type>
          <rate>
            <mean>0.0</mean>
            <stddev>2e-4</stddev>
            <bias_mean>0.0000075</bias_mean>
            <bias_stddev>0.0000008</bias_stddev>
          </rate>
          <accel>
            <mean>0.0</mean>
            <stddev>1.7e-2</stddev>
            <bias_mean>0.1</bias_mean>
            <bias_stddev>0.001</bias_stddev>
          </accel>
        </noise>
      </imu>
    </plugin>
  </gazebo>


</robot>
